
<p></p>

<%= form_for [@doctor,@clinic], remote: true do |f| %>

<ul class="list-group list-group-flush">
    <!-- Clinic Name -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :name do %>Name of Clinic:<span class="req">*</span><% end %>
            <%= f.text_field :name, required: 'required', class:'form-control' %>
        </div>
    </li>
    
    <!-- Clinic Phone -->
    <li class="list-group-item">
        <div class="field-wrap">
          <%= f.label :phone %>
          <%= f.text_field :phone, type: 'text', autocomplete: 'off', class:'form-control' %>
        </div>
    </li>

    <!-- Clinic Email -->
    <li class="list-group-item">
        <div class="field-wrap">
          <%= f.label :email %>
          <%= f.text_field :email, type: 'email', autocomplete: 'off', class:'form-control' %>
        </div>
    </li>

    <!-- Clinic Address -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :address do %>Address:<span class="req">*</span><% end %>
            <%= f.text_field :address, required: 'required', class:'form-control' %>
        </div>
    </li>

    <!-- Clinic Postcode -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :postcode do %>Postcode:<span class="req">*</span><% end %>
            <%= f.text_field :postcode, required: 'required',class:'form-control' %>
        </div>
    </li>

    <!-- Clinic City -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :city do %>City:<span class="req">*</span><% end %>
            <%= f.text_field :city, required: 'required', class:'form-control' %>
        </div>
    </li>

    <!-- Clinic State -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :state do %>State:<span class="req">*</span><% end %>
            <%= f.text_field :state, required: 'required', class:'form-control' %>
        </div>
    </li>

    <!-- Clinic Country -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :country do %>Country:<span class="req">*</span><% end %>
            <%= f.text_field :country, required: 'required', class:'form-control' %>
        </div>
    </li>
    
    <!-- Booking Fee Required? -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :booking do %>Require Booking Fee?:     <span class="req">*</span><% end %>
            <%= f.label(:booking, "Yes") %>
            <%= f.radio_button(:booking, true , required: 'required') %> |
            <%= f.label(:booking, "No") %>
            <%= f.radio_button(:booking, false) %>
        </div>
    </li>

    <!-- Booking Fee -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :fee, 'Booking Fee (RM):' %>
            <%= f.number_field :fee, type:'number', class:'form-control'%>
        </div>
    </li>

    <!-- Visit Duration -->
    <li class="list-group-item">
        <div class="field-wrap">
            <%= f.label :duration, 'Duration of Visit:     ' %>
            <%= f.select :duration, options_for_select([[15,15],[20,20],[25,25],[30,30],[35,35],[40,40],[45,45],[50,50],[55,55],[60,60]]), class:'form-control'%>      Minutes
        </div>
    </li>


    <!-- Operation Hour -->
    <li class="list-group-item">
        <div class="field-wrap">
        <%= f.label "Operation Hour:" %>
        <%= f.fields_for :operation_hour do |op| %>
            <table class="table ops-table table-bordered">
                <thead class="thead-ops ">
                    <tr>
                        <th scope="col" class="ops-header"> Day </th>
                        <th scope="col" class="ops-header"> Status </th>
                        <th scope="col" class="ops-header"> Start Time - End Time </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">Monday</th>
                        <th scope="row">
                            <%= op.label(:mon, "Open") %>
                            <%= op.radio_button(:mon_status, "Open", required: 'required') %> |
                            <%= op.label(:mon, "Closed") %>
                            <%= op.radio_button(:mon_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :mon_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :mon_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Tuesday</th>
                        <th scope="row">
                            <%= op.label(:tue, "Open") %>
                            <%= op.radio_button(:tue_status, "Open", required: 'required') %> |
                            <%= op.label(:tue, "Closed") %>
                            <%= op.radio_button(:tue_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :tue_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :tue_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Wednesday</th>
                        <th scope="row">
                            <%= op.label(:wed, "Open") %>
                            <%= op.radio_button(:wed_status, "Open", required: 'required') %> |
                            <%= op.label(:wed, "Closed") %>
                            <%= op.radio_button(:wed_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :wed_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :wed_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Thursday</th>
                        <th scope="row">
                            <%= op.label(:thu, "Open") %>
                            <%= op.radio_button(:thu_status, "Open", required: 'required') %> |
                            <%= op.label(:thu, "Closed") %>
                            <%= op.radio_button(:thu_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :thu_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :thu_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Friday</th>
                        <th scope="row">
                            <%= op.label(:fri, "Open") %>
                            <%= op.radio_button(:fri_status, "Open", required: 'required') %> |
                            <%= op.label(:fri, "Closed") %>
                            <%= op.radio_button(:fri_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :fri_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :fri_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Saturday</th>
                        <th scope="row">
                            <%= op.label(:sat, "Open") %>
                            <%= op.radio_button(:sat_status, "Open", required: 'required') %> |
                            <%= op.label(:sat, "Closed") %>
                            <%= op.radio_button(:sat_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :sat_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :sat_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Sunday</th>
                        <th scope="row">
                            <%= op.label(:sun, "Open") %>
                            <%= op.radio_button(:sun_status, "Open", required: 'required') %> |
                            <%= op.label(:sun, "Closed") %>
                            <%= op.radio_button(:sun_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :sun_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :sun_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">Public Holiday</th>
                        <th scope="row">
                            <%= op.label(:hol, "Open") %>
                            <%= op.radio_button(:hol_status, "Open", required: 'required') %> |
                            <%= op.label(:hol, "Closed") %>
                            <%= op.radio_button(:hol_status, "Closed") %>
                        </th>
                        <th scope="row">
                            <%= op.time_select :hol_start, {minute_step: 15, :ampm => true} %> -
                            <%= op.time_select :hol_end, {minute_step: 15, :ampm => true} %>
                        </th>
                    </tr>                    

                </tbody>
            </table>
        <% end %>
         </div>
    </li>

    <br>
    <!-- Submit Button -->
        <div class="btn-wrap ">
            <%= f.submit class: "button doctor-submit" %>
        </div>
<% end %>
</ul>