<!-- ======================================================================= -->
<!-- Sign In Form -->
<!-- ======================================================================= -->

<div class="entry-form">

  <!-- 	Heading -->
  <h2 class='form-heading'>Sign In</h2>

  <!-- 	Tabs -->
  <ul class="tab-group">
    <li class="tab active">
      <a href="#patient-form" class="tab-btn">Patient</a>
    </li>
    <li class="tab">
      <a href="#doctor-form" class="tab-btn">Doctor</a>
    </li>
  </ul>

  <!-- 	Tab Wrapper -->
  <div class="tab-content">

    <!-- 	Patient's Form -->
    <div id="patient-form">

      <%= form_for :session, url: create_patient_session_path do |form| %>
        <div class="field-wrap">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>
      
        <div class="field-wrap">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="facebook-sign-in">
          <%#= link_to edit_patient_path(current_user), remote: true, id: 'appointment-btn', class: 'nav-link' do %>
          <%= link_to(url: "/auth/facebook") do %>
              <span data-feather="facebook"></span>
              Sign in with Facebook
          <% end %>
        </div>
      
        <div class="btn-wrap">
          <%= form.submit class: "button" %>
        </div>
        
      <% end %>

    </div>

    <!-- Doctor's Form -->
    <div id="doctor-form">

      <%= form_for :session, url: create_doctor_session_path do |form| %>
        <div class="field-wrap">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>
      
        <div class="field-wrap">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>
      
        <div class="btn-wrap">
          <%= form.submit class: "button" %>
        </div>

      <% end %>

    </div>

  </div>
  <!-- tab-content -->

</div>
<!-- /form -->