<!-- ======================================================================= -->
<!-- Sign In Layout -->
<!-- ======================================================================= -->

<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "entry", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<!-- JS -->
<%= provide :js do %>
    <%= javascript_include_tag "entry_form", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<!-- Sign In Page -->
<div id="clearance" class="sign-in">
  <%= render partial: '/sessions/form' %>
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <span>Don't have an account yet?</span>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
</div>
