<!-- ======================================================================= -->
<!-- Booking's Show partial -->
<!-- ======================================================================= -->

<%= link_to doctors_path, remote: true, class: 'nav-link active' do %>
  Pick Your Doctors
  <span class="sr-only">(current)</span>
<% end %>

<p>Appointments Confirmed</p>
<table border>
    <thead>
    <tr>
        <th>Date</th>
        <th>Schedule</th>
        <th>Patient name</th>
    </tr>
    </thead>
    <tbody>
    <% @bookings.each do |p| %>
        <tr>
        <td>
            <%= p.date %>
        </td>
        <td>
            <%= p.start_time %>
        </td>
        <td>
            <%= p.doctor.first_name %>
            <%= p.doctor.last_name %>
        </td>
        <td>
            <%= link_to 'Delete', booking_path(p), 
        class: 'btn btn-sm btn-danger',
        method: :Delete, 
        data: {confirm: 'Are you sure?'}  %>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<p>Appointments Pending</p>
<table border>
    <thead>
    <tr>
        <th>Date</th>
        <th>Schedule</th>
        <th>Doctor name</th>
    </tr>
    </thead>


    <tbody>
    <% @pending_bookings.each do |p| %>
        <tr>
        <td>
            <%= p.date %>
        </td>
        <td>
            <%= p.start_time %>
        </td>
        <td>
            <%= p.doctor.first_name %>
            <%= p.doctor.last_name %>
        </td>
        <td>
            <%= link_to 'Cancel Appointments', pending_booking_path(p), 
        class: 'btn btn-sm btn-danger',
        method: :Delete, 
        data: {confirm: 'Are you sure?'}  %>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>