<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "users/new", :media => "all" %>
<% end %>

<!-- JS -->
<%= provide :js do %>
    <%= javascript_include_tag "users/sign_up_form", :media => "all" %>
<% end %>

<div id="clearance" class="sign-up">

    <%= render partial: '/users/form' %>

    <div class="other-links">
      <span><%= t(".sign_in_desc") %></span>
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
</div>
