Show a list of records linked to a specific booking

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">


            <% if !@records.nil? %>
                <%# (0..100).each_with_index do |record, i| %>
                <!-- TODO: Ascending the records' created date -->
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header"><%= @records.title %></div>
                            <div class="card-body">
                                <p class="card-text"><%= @records.referral_note %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <%= link_to "delete", record_path(@records.id), remote: true, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">    
                                    <div class="btn-group">
                                        <%= link_to "add prescription", new_record_prescription_path(@records.id), remote: true, class: 'btn btn-sm btn-outline-secondary' %>
                                    </div>
                                    <small class="text-muted"><%= @records.record_date %></small>
                                </div>
                            </div>
                        </div>
                    </div>
            <% else %>
                <p>There's no record</p>
            <% end %>

        </div>
    </div>
</div>