<!-- ======================================================================= -->
<!-- Record Chart Partial -->
<!-- ======================================================================= -->
<style>
    .chart-label {
        width: 10px;
        height: 10px;
        display: inline-block;
    }
    .label-1 {
        background: rgba(0, 123, 255, 0.5);
    }
    .label-2 {
        background: rgba(255, 0, 0, 0.5);
    }
    .label-3 {
        background: rgba(255, 165, 0, 0.5);
    }
    .label-4 {
        background: rgba(255, 0, 199, 0.5);
    }
    .label-5 {
        background: rgba(85, 26, 139, 0.5);
    }
</style>
<script>
    <% user_records = current_user.records %>
    <% record_arr1 = [] %>
    <% record_arr2 = [] %>
    <% record_arr3 = [] %>
    <% record_arr4 = [] %>
    <% record_arr5 = [] %>
    <% (0...12).each do |i| %>
        <% record_arr1 << 0 %>
        <% record_arr2 << 0 %>
        <% record_arr3 << 0 %>
        <% record_arr4 << 0 %>
        <% record_arr5 << 0 %>
    <% end %>
    <% user_records.each do |record| %>
        <% if record.record_date.nil? == false %>
    
            <% record.encounter.each do |encounter| %>
                    <% case encounter%>
                    <% when 'Consultation' %>
                        <% record_arr1[record.record_date.month - 1] = record_arr1[record.record_date.month - 1] + 1 %>
                    <% when 'Followup' %>
                        <% record_arr2[record.record_date.month - 1] = record_arr1[record.record_date.month - 1] + 1 %>
                    <% when 'Procedures' %>
                        <% record_arr3[record.record_date.month - 1] = record_arr1[record.record_date.month - 1] + 1 %>
                    <% when 'Immunizations' %>
                        <% record_arr4[record.record_date.month - 1] = record_arr1[record.record_date.month - 1] + 1 %>
                    <% when 'Labtests' %>
                        <% record_arr5[record.record_date.month - 1] = record_arr1[record.record_date.month - 1] + 1 %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</script>

<div id="chart-labels">
    <ul>
        <li><span class="chart-label label-1"></span> Consultation</li>
        <li><span class="chart-label label-2"></span> Procedures</li>
        <li><span class="chart-label label-3"></span> Follow Up</li>
        <li><span class="chart-label label-4"></span> Immunizations</li>
        <li><span class="chart-label label-5"></span> Lab Tests</li>
    </ul>
</div>
<canvas class="my-4" id="myChart" width="900" height="380"></canvas>

<!-- Graphs -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            // Consultation
            labels: ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
            {
                data: <%= record_arr1 %>,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'rgba(0, 123, 255, 0.5)',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(0, 123, 255, 0.5)'
            },
            // Procedures
            {
                data: <%= record_arr2 %>,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'rgba(255, 0, 0, 0.5)',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(255, 0, 0, 0.5)'
            },
            // Follow Up
            {
                data: <%= record_arr3 %>,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'rgba(255, 165, 0, 0.5)',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(255, 165, 0, 0.5)'
            },
            // Immunizations
            {
                data: <%= record_arr4 %>,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'rgba(255, 0, 199, 0.5)',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(255, 0, 199, 0.5)'
            },
            // Lab Tests
            {
                data: <%= record_arr5 %>,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: 'rgba(85, 26, 139, 0.5)',
                borderWidth: 4,
                pointBackgroundColor: 'rgba(85, 26, 139, 0.5)'
            }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>