<!-- ======================================================================= -->
<!-- Records' Timeline -->
<!-- ======================================================================= -->

<section class="timeline">
    <div class="container">

        <% if !@records.empty? %>
            <% @records.each do |record| %>
            <%# (0..100).each_with_index do |record, i| %>
            <!-- TODO: Ascending the records' created date -->
                <div class="timeline-item">
                    <div class="timeline-content js--fadeInLeft">
                        <h2><%= record.title %></h2>
                        <div class="date"><%= record.record_date %></div>
                        <% record.encounter.each do |en| %>
                            <div class="symptoms"><%= en %>></div>
                        <% end %>
                        <div class="symptoms"><%= record.symptoms %></div>
                        <div class="symptoms"><%= record.diagnosis %></div>
                        <div class="symptoms"><%= record.note %></div>
                        <div class="symptoms"><%= record.follow_up %></div>
                        <div class="symptoms"><%= record.referral %></div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>There's no record</p>
        <% end %>

    </div>
</section>