<!-- ======================================================================= -->
<!-- Records' Timeline -->
<!-- ======================================================================= -->

<section class="timeline">
    <div class="container">

        <% if !@records.empty? %>
            <% @records.each do |record| %>
            <!-- TODO: Ascending the records' created date -->
                <div class="timeline-item">
                    <div class="timeline-content js--fadeInLeft">
                        <h2><%= record.title %></h2>
                        <div class="date"><%= record.record_date %></div>
                        <% if record.encounter.nil? == false %>
                        <strong>Record type: </strong>
                        <% record.encounter.each do |en| %>
                            <%= "#{en}," %>
                        <% end %>
                        <% end %>
                        <div class="symptoms"><strong>Symptoms: </strong><%= "#{record.symptoms}" %></div>
                        <div class="diagnosis"><strong>Diagnosis: </strong><%= "#{record.diagnosis}" %></div>
                        <div class="referral_note"><strong>Note on referrals: </strong><%= "#{record.referral_note}" %></div>                        
                        <div class="notes"><strong>Note: </strong><%= "#{record.note}" %></div>
                        <% if record.follow_up? %>
                            <div class="follow_up"><strong>Follow up recommended? </strong><%= "Yes" %></div>
                        <% elsif !record.follow_up? %>
                            <div class="follow_up"><strong>Follow up recommended? </strong><%= "No" %></div>
                        <% end %>    
                        <% if record.referral? %>    
                            <div class="referral"><strong>Referral recommended? </strong><%= "Yes" %></div>
                        <% elsif %>
                            <div class="referral"><strong>Referral recommended? </strong><%= "No" %></div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p>There's no record</p>
        <% end %>

    </div>
</section>