<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha256-Ld9+920D/5mOtGgV8hjGd4hX5fRTl0i3kjA2IDwvrqc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha256-uKEg9s9/RiqVVOIWQ8vq0IIqdJTdnxDMok9XhiqnApU=" crossorigin="anonymous" />
<style>
    .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}
</style>
<!-- Patient's Edit Form -->
<%= form_for @patient do |form| %>
    <!-- Name -->
    <div class="form-group">
        <%= form.label :first_name do %>First Name:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :first_name, type: 'text', required: 'required', autocomplete: 'off', class: "form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :last_name do %>Last Name:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :last_name, type: 'text', required: 'required', class: "form-control" %>
    </div>

    <!-- Email -->
    <div class="form-group">
        <%= form.label :email do %>Email:
            <span class="req">*</span>
        <% end %>
        <%= form.text_field :email, type: 'email', required: 'required', class: "form-control" %>
    </div>

    <!-- Password remember to add old and new password -->
<!--     <div class="form-group">
        <%= form.label :password do %>Password:
        <span class="req">*</span>
        <% end %>
        <%= form.password_field :password, class: "form-control" %>
    </div> -->

    <!-- Phone -->
    <div class="form-group">
        <%= form.label :phone do %>Phone:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :phone, class: "form-control" %>
    </div> 

    <!-- Identification -->
    <div class="form-group">
        <%= form.label :identification do %>Identification:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :identification, class: "form-control" %>
    </div>    

    <!-- gender -->
    <div class="form-group">
        <%= form.label :gender do %>Gender:
        <span class="req">*</span>
        <% end %>
        <%= form.select :gender, options_for_select([["Male", "male"], ["Female", "female"], ["Not Sure", "not_sure"], ["Prefer not to disclose", "prefer_not_to_disclose"]]) %>
    </div>   

    <!-- birthdate -->
    <div class="form-group">
        <%= form.label :birthdate do %>Birthdate:
        <span class="req">*</span>
        <% end %>
        <%= form.date_field :birthdate, class: "form-control" %>
    </div>       

    <!-- blood_type -->
    <div class="form-group">
        <%= form.label :blood_type do %>Blood type:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :blood_type, class: "form-control" %>
    </div>    

    <!-- med_history -->
    <div class="form-group">
        <%= form.label :med_history do %>Medical history:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :med_history, class: "form-control addrun", id: "multiple-input", 'data-role' => 'tagsinput'  %>
    </div>    

    <!-- allergies -->
    <div class="form-group">
        <%= form.label :allergies do %>Allergies:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :allergies, 'data-role'=>'tagsinput', class: "form-control" %>
        <%#= form.text_field :allergies, class: "form-control addrun", id: "multiple-input", 'data-role' => 'tagsinput'  %>
    </div>    

    <!-- family_history -->
    <div class="form-group">
        <%= form.label :family_history do %>Family history:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :family_history, class: "form-control" %>
    </div>   

    <!-- social_history -->
    <div class="form-group">
        <%= form.label :social_history do %>Social history:
        <span class="req">*</span>
        <% end %>
        <%= form.text_field :social_history, class: "form-control" %>
    </div>  

    <!-- drinker -->
    <div class="form-group">
        <%= form.label :drinker do %>Drinker:
        <span class="req">*</span>
        <% end %>
        <div class="radio">
            <div style="margin-left:2vw"><%= form.radio_button :drinker, true %>Yes</div>
            <div style="margin-left:2vw"><%= form.radio_button :drinker, false %>No</div>
        </div>    
    </div>   

    <!-- smoker -->
    <div class="form-group">
        <%= form.label :smoker do %>Smoker:
        <span class="req">*</span>
        <% end %>
        <div class="radio">
            <div style="margin-left:2vw"><%= form.radio_button :smoker, true %>Yes</div>
            <div style="margin-left:2vw"><%= form.radio_button :smoker, false %>No</div>
        </div>    
    </div>       

    <!-- Submit Button -->
    <div class="btn-wrap">
        <%= form.submit class: "button" %>
    </div>
<% end %>