<!-- Patient's Sign Up Form -->
<%= form_for @patient do |form| %>
    <!-- Name -->
    <div class="field-wrap">
        <%= form.label :first_name do %>First Name:<span class="req">*</span><% end %>
        <%= form.text_field :first_name, type: 'text', required: 'required', autocomplete: 'off' %>
    </div>
    <div class="field-wrap">
        <%= form.label :last_name do %>Last Name:<span class="req">*</span><% end %>
        <%= form.text_field :last_name, type: 'text', required: 'required' %>
    </div>
    
    <!-- Email -->
    <div class="field-wrap">
        <%= form.label :email do %>Email:<span class="req">*</span><% end %>
        <%= form.text_field :email, type: 'email', required: 'required' %>
    </div>
    
    <!-- Password -->
    <div class="field-wrap">
        <%= form.label :password do %>Password:<span class="req">*</span><% end %>
        <%= form.password_field :password %>
    </div>
    <div class="btn-wrap">
        <%= form.submit class: "button" %>
    </div>
<% end %>