<!-- ======================================================================= -->
<!-- Patient's Profile Tab Edit Form -->
<!-- ======================================================================= -->

<div class="container">
    <div class="rol">
        <div class="col-lg-4 order-lg-1 text-center div-wrapper">
            <% if current_user.profile_picture? %>
                <div class="mx-auto img-fluid d-block profile_picture"><%= image_tag current_user.profile_picture.thumb.url, :class => "profile_picture rounded-circle" if current_user.profile_picture? %>
            <% else %>
                <img src="//placehold.it/150" class="mx-auto img-fluid rounded-circle d-block" alt= :remote_avatar_url>
            <% end %>
                        
            <%= form_for @patient do |form| %>
                <div class="file-field">
                    <%= form.label "Upload profile picture" %>
                    <%= form.file_field :profile_picture %><br/>
                    <%= form.label :remote_profile_picture_url, "or image URL" %><br/> 
                    <%= form.text_field :remote_profile_picture_url %>
                </div>
                <!-- Submit Button -->
                <div class="btn-wrap">
                    <div><%= form.submit :name => "Update photo", class: "button btn-light" %></div>
                </div>
            <% end %>    
            </div>
        </div>
    </div>
    
    <div class="col-lg-7 order-lg-2 div-wrapper" style="margin-left: 2em">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane overflow fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h3>Your Profile</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>First Name : </strong>
                        <%= @patient.first_name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Last Name : </strong>
                        <%= @patient.last_name %>
                    </li>
                    <li class="list-group-item">
                        <strong>Birthdate : </strong>
                        <%= @patient.birthdate %>
                    </li>
                    <% if @patient.gender == "male"%>
                        <li class="list-group-item"><strong>Gender : </strong>Male</li>
                    <% elsif @patient.gender == "female" %>
                        <li class="list-group-item"><strong>Gender : </strong>Female</li>
                    <% elsif @patient.gender == "not_sure" %>
                        <li class="list-group-item"><strong>Gender : </strong>Not Sure</li>
                    <% elsif @patient.gender == "prefer_not_to_disclose" %>
                        <li class="list-group-item"><strong>Gender : </strong>Prefer Not To Disclose</li>
                    <% end %>

                    <li class="list-group-item">
                        <strong>Email : </strong>
                        <%= @patient.email %>
                    </li>
                    <li class="list-group-item">
                        <strong>Phone : </strong>
                        <%= @patient.phone %>
                    </li>
                    <li class="list-group-item">
                        <strong>Identification : </strong>
                        <%= @patient.identification %>
                    </li>
                    <li class="list-group-item">
                        <strong>Blood type : </strong>
                        <%= @patient.blood_type %>
                    </li>
                    <li class="list-group-item">
                        <strong>Med History : </strong>
                        <ul>
                            <% if @patient.med_history == nil %>
                                
                            <% else %>
                            <% @patient.med_history.each do |med| %>
                                <li style="list-style: none"><%= med %></li>
                            <% end %>
                            <% end %>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Allergies : </strong>
                         <ul>
                            <% if @patient.med_history == nil %>
                                
                            <% else %>
                            <% @patient.allergies.each do |allergy| %>
                                <li style="list-style: none"><%= allergy %></li>
                            <% end %>
                            <% end %>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Family History : </strong>
                        <%= @patient.family_history %>
                    </li>
                    <li class="list-group-item">
                        <strong>Social History : </strong>
                        <%= @patient.social_history %>
                    </li>
                    <li class="list-group-item">
                        <strong>Drinker : </strong>
                        <%= @patient.drinker %>
                    </li>
                    <li class="list-group-item">
                        <strong>Smoker : </strong>
                        <%= @patient.smoker %>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade overflow" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                <h3>Edit</h3>
                <%= render  "patients/edit_form" %>
            </div>
        </div>
    </div> <!-- /col -->
</div> <!-- /container -->
