<!-- ======================================================================= -->
<!-- Patient's Profile Tab Edit Form -->
<!-- ======================================================================= -->

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <!-- Profile Tab -->
                <div class="tab-pane active" id="profile">
                    <h5>User Profile</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>First Name : </strong>
                            <%= @patient.first_name %>
                        </li>
                        <li class="list-group-item">
                            <strong>Last Name : </strong>
                            <%= @patient.last_name %>
                        </li>
                        <li class="list-group-item">
                            <strong>Birthdate : </strong>
                            <%= @patient.birthdate %>
                        </li>
                        <li class="list-group-item">
                            <strong>Gender : </strong>
                            <%= @patient.gender %>
                        </li>
                        <li class="list-group-item">
                            <strong>Email : </strong>
                            <%= @patient.email %>
                        </li>
                        <li class="list-group-item">
                            <strong>Phone : </strong>
                            <%= @patient.phone %>
                        </li>
                        <li class="list-group-item">
                            <strong>Identification : </strong>
                            <%= @patient.identification %>
                        </li>
                        <li class="list-group-item">
                            <strong>Blood type : </strong>
                            <%= @patient.blood_type %>
                        </li>                    
                        <li class="list-group-item">
                            <strong>Med History : </strong>
                            <%= @patient.med_history %>
                        </li>
                        <li class="list-group-item">
                            <strong>Allergies : </strong>
                            <%= @patient.allergies %>
                        </li>
                        <li class="list-group-item">
                            <strong>Family History : </strong>
                            <%= @patient.family_history %>
                        </li>                    
                        <li class="list-group-item">
                            <strong>Social History : </strong>
                            <%= @patient.social_history %>
                        </li>
                        <li class="list-group-item">
                            <strong>Drinker : </strong>
                            <%= @patient.drinker %>
                        </li>
                        <li class="list-group-item">
                            <strong>Smoker : </strong>
                            <%= @patient.smoker %>
                        </li>                                     
                                   

                    </ul>
                </div>

                <!-- Edit Tab -->
                <div class="tab-pane" id="edit">
                    <h5>User Edit</h5>
                    <%= render  "patients/edit_form" %>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <% if current_user.profile_picture? %>
                <%= image_tag current_user.profile_picture.url, :class => "profile_picture" if current_user.profile_picture? %>
            <% else %>
                <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt= :remote_avatar_url>
            <% end %>

            <h6 class="mt-2">Upload a different photo</h6>

            <%= form_for @patient do |form| %>
                <div class="file-field">
                    <%= form.label "Upload profile picture" %>
                    <%= form.file_field :profile_picture %><br/>
                    <%= form.label :remote_profile_picture_url, "or image URL" %><br/> 
                    <%= form.text_field :remote_profile_picture_url %>
                </div>
                <!-- Submit Button -->
                <div class="btn-wrap">
                    <div><%= form.submit :name => "Update photo", class: "button" %></div>
                </div>
            <% end %>    

            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>
