<!-- ======================================================================= -->
<!-- Patient's show -->
<!-- ======================================================================= -->

<!-- JS -->
<%= provide :js do %>

    <!-- initial dashboard load -->
    <script>
        $(document).on('turbolinks:load', function () {
            $('#dashboard-content').empty().append('<%= j render "patients/profile" %>');
        });
    </script>

<% end %>



<% content_for :sidebar do %>
    <li class="nav-item">
        <%= link_to profile_patient_path(params[:id]), remote: true, id: 'profile-btn', class: 'nav-link active' do %>
            <span data-feather="users"></span>
            Profile
            <span class="sr-only">(current)</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to booking_path(params[:id]), remote: true, id: 'appointments-btn', class: 'nav-link' do %>
            <span data-feather="calendar"></span>
            Appointments
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to record_path(params[:id]), remote: true, id: 'records-btn', class: 'nav-link' do %>
            <span data-feather="book-open"></span>
            Medical Journal
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to root_path, remote: true, id: 'prescriptions-btn', class: 'nav-link' do %>
            <span data-feather="plus-circle"></span>
            Prescriptions
        <% end %>
    </li>
<% end %>

<%= render "layouts/dashboard" %>


<%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap2.css" type="text/css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/selectize.js"></script>


<script>
    $('#multiple-input').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],
        delimiter: ',',
        persist: false,
        placeholder: "Add ...",
        create: function(input) {
        return {
            value: input,
            text: input
        }
        }
    })
</script> %>