<div class="container div-wrapper">
  <div><%= link_to 'View all Doctor', doctors_path, remote: true %></div>
  <div><%= link_to ("View Your Appointment"), booking_path(current_user.id), remote: true %></div>
  <div class="card-area">
    <div class="card-placard div-namecard">
      <div class="card-social">
        <div class="card-image">
           <% if current_user.profile_picture? %>
                <%= image_tag @doctor.profile_picture.thumb.url, :class => "card-image", :style =>"margin-top: 0;" if @doctor.profile_picture? %>
            <% else %>
                <img src="//placehold.it/150" alt= :remote_avatar_url>
            <% end %>
        </div>
        <div class="card-likes">
          <p>Likes: <%= @like.count %> </p>
        </div>
      </div>

      <div class="card-highlights">
        <div class="card-contact card">
          <h3 class="card-title"> <%= @doctor.first_name + " " + @doctor.last_name %> </h3>
          <h4 class="card-subtitle mb-2 text-muted"> Specialist : <%= @doctor.specialist %> </h4>
          <%= mail_to @doctor.email %>
          <br>
          <p>Qualification : <%= @doctor.qualifications %></p>
          <hr>
        </div>
        <div class="card-actionable">
          <div class="like">
            <%= link_to 'Like', likes_path+'?param12='+ @doctor.id.to_s, method: :POST, remote: true, class:'btn btn-primary' %>
          </div>
          <div class="unlike">
            <%= link_to 'Unlike', likes_path+'?param13='+@doctor.id.to_s, remote: true, class:'btn btn-warning' %>
          </div>
        </div>

      </div>

    </div>
    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="" data-target="#doctor_info" data-toggle="tab" class="nav-link active tab-pending" >Info</a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#doctor_clinic" data-toggle="tab" class="nav-link tab-confirm">Clinic: <%= @doctor.clinics.count %></a>
        </li>
        <li class="nav-item">
            <a href="" data-target="#doctor_summary" data-toggle="tab" class="nav-link tab-past">Biography</a>
        </li>
    </ul>

    <div class="tab-content py-4">
        <!-- Pending -->
        <div class="tab-pane active tab-pending" id="doctor_info">
            <div class="tab-header">
              <p>Experience Year : <%= @doctor.experienced_years %></p>
              <p>Education : <%= @doctor.education %></p>
            </div>
        </div>

        <!-- Confirmed -->
        <div class="tab-pane tab-confirm" id="doctor_clinic">
            <div class="tab-header">
                <p><%= render "doctors/clinics_info" %></p>
            </div>
        </div>

        <!-- past -->
        <div class="tab-pane tab-past" id="doctor_summary">
            <div class="tab-header">
                <p><%= @doctor.summary %></p>
            </div>
        </div>
    </div>
    
    <div class="card-overview">

      <div class="booking">
        <p>Contact Number: <%= @doctor.phone %></p>
          <%= link_to "Book An Appointment", clinic_selection_pending_bookings_path(@doctor.id), remote: true, id: 'doctor-appoinment-btn', class: 'btn btn-info' %>
      </div>

    </div>
  </div>
</div>
