<!-- ======================================================================= -->
<!-- Doctor's edit tab -->
<!-- ======================================================================= -->

<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 order-lg-1 text-center">
            <% if current_user.profile_picture? %>
                <div class="mx-auto img-fluid d-block profile_picture"><%= image_tag current_user.profile_picture.thumb.url, :class => "profile_picture rounded-circle" if current_user.profile_picture? %>
            <% else %>
                <img src="//placehold.it/150" class="mx-auto img-fluid rounded-circle d-block" alt= :remote_avatar_url>
            <% end %>
            
            </div>

            <%= form_for @doctor do |form| %>
                <div class="file-field">
                    <%= form.label (current_user.profile_picture ? "Change Profile Picture" : "Upload profile picture") %>
                    <%= form.file_field :profile_picture %><br/>
                    <%= form.label :remote_profile_picture_url, "or image URL" %><br/> 
                    <p><%= form.text_field :remote_profile_picture_url %></p>
                </div>
                <!-- Submit Button -->
                <div class="btn-wrap">
                    <div><%= form.submit :name => "Update photo", class: "btn btn-sm btn-info" %></div>
                </div>
            <% end %>    
        </div>
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit-personal" data-toggle="tab" class="nav-link">Edit Personal Info</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit-professional" data-toggle="tab" class="nav-link">Edit Professional Info</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <!-- Profile Tab -->
                <div class="tab-pane active" id="profile">
                    <div class="tab-header">
                      <h5>Personal Information</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>First Name : </strong><%= @doctor.first_name %></li>
                        <li class="list-group-item"><strong>Last Name : </strong><%= @doctor.last_name %></li>
                        <li class="list-group-item"><strong>Birthdate : </strong><%= @doctor.birthdate %></li>
                        <li class="list-group-item"><strong>Gender : </strong><%= @doctor.gender %></li>
                        <li class="list-group-item"><strong>Email : </strong><%= @doctor.email %></li>
                        <li class="list-group-item"><strong>Phone : </strong><%= @doctor.phone %></li>
                    </ul>
                    <br>
                    <div class="tab-header">
                      <h5>Professional Information</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Biography :
                        <p> </strong><%= @doctor.summary %></p></li>
                        <li class="list-group-item"><strong>MMC Registration No.: </strong><%= @doctor.license %></li>
                        <li class="list-group-item"><strong>Specialization : </strong><%= @doctor.specialist %></li>
                        <li class="list-group-item"><strong>Years of Experience : </strong><%= @doctor.experienced_years %></li>
                        <li class="list-group-item"><strong>Qualifications : </strong><%= @doctor.qualifications %></li>
                    </ul>
                </div>

                <!-- Edit Personal Info Tab -->
                <div class="tab-pane" id="edit-personal">
                    <div class="tab-header">
                    <h5>Edit Personal Info</h5>
                    </div>
                    <%= render  "doctors/edit_personal_form" %>
                </div>

                <!-- Edit Professional Info Tab -->
                <div class="tab-pane" id="edit-professional">
                    <div class="tab-header">
                    <h5>Edit Professional Info</h5>
                    </div>
                    <%= render  "doctors/edit_professional_form" %>
                </div>

            </div>
        
    </div>
</div>