<!-- ======================================================================= -->
<!-- Doctor's edit tab -->
<!-- ======================================================================= -->

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit-personal" data-toggle="tab" class="nav-link">Edit Personal Info</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit-professional" data-toggle="tab" class="nav-link">Edit Professional Info</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <!-- Profile Tab -->
                <div class="tab-pane active" id="profile">
                    <div class="tab-header">
                      <h5>Personal Information</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>First Name : </strong><%= @doctor.first_name %></li>
                        <li class="list-group-item"><strong>Last Name : </strong><%= @doctor.last_name %></li>
                        <li class="list-group-item"><strong>Birthdate : </strong><%= @doctor.birthdate %></li>
                        <li class="list-group-item"><strong>Gender : </strong><%= @doctor.gender %></li>
                        <li class="list-group-item"><strong>Email : </strong><%= @doctor.email %></li>
                        <li class="list-group-item"><strong>Phone : </strong><%= @doctor.phone %></li>
                    </ul>
                    <br>
                    <div class="tab-header">
                      <h5>Professional Information</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Biography :
                        <p> </strong><%= @doctor.summary %></p></li>
                        <li class="list-group-item"><strong>MMC Registration No.: </strong><%= @doctor.license %></li>
                        <li class="list-group-item"><strong>Specialization : </strong><%= @doctor.specialist %></li>
                        <li class="list-group-item"><strong>Years of Experience : </strong><%= @doctor.experienced_years %></li>
                        <li class="list-group-item"><strong>Qualifications : </strong><%= @doctor.qualifications %></li>
                    </ul>
                </div>

<br>

<!-- Khang's code here -->
<p>Appointments Confirmed</p>
<table border>
  <thead>
  <tr>
    <th>Date</th>
    <th>Schedule</th>
    <th>Patient name</th>
  </tr>
  </thead>

  <tbody>
    <% @booking.each do |p| %> 
      <tr>
        <td>
          <%= p.date %> 
        </td>
        <td>
           <%= p.start_time %> 
        </td>
        <td>
           <%= p.patient.first_name %> <%= p.patient.last_name %> 
        </td>
        <td> 
          <%= link_to 'Delete', booking_path(p), 
            class: 'btn btn-sm btn-danger',
            method: :Delete, 
            data: {confirm: 'Are you sure?'}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Appointments Pending</p>
<table border>
  <thead>
  <tr>
    <th>Date</th>
    <th>Schedule</th>
    <th>Patient name</th>
  </tr>
  </thead>

  <tbody>
    <% @pending_booking.each do |p| %> 
      <tr>
        <td>
          <%= p.date %> 
        </td>
        <td>
           <%= p.start_time %> 
        </td>
        <td>
           <%= p.patient.first_name %> <%= p.patient.last_name %> 
        </td>
        <td>
            <%= link_to 'Accept Appointment', bookings_path+"/?param2="+p.id.to_s, method: :Create %> 
        </td>

        <td> 
          <%= link_to 'Reject Appointments', pending_booking_path(p), 
            class: 'btn btn-sm btn-danger',
            method: :Delete, 
            data: {confirm: 'Are you sure?'}  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Khang's code here -->

                <!-- Edit Personal Info Tab -->
                <div class="tab-pane" id="edit-personal">
                    <div class="tab-header">
                    <h5>Edit Personal Info</h5>
                    </div>
                    <%= render  "doctors/edit_personal_form" %>
                </div>

                <!-- Edit Professional Info Tab -->
                <div class="tab-pane" id="edit-professional">
                    <div class="tab-header">
                    <h5>Edit Professional Info</h5>
                    </div>
                    <%= render  "doctors/edit_professional_form" %>
                </div>

            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>