<script>
  $(function () {
    var projects = [];

    <% Doctor.all.each do |doctor| %>
      //projects.push()
      projects.push({
          value: "<%= doctor.first_name %>",
          desc: "<%= doctor.specialist %>"
        });
    <% end %>

    console.log(projects);

    $("#project").autocomplete({
      minLength: 0,
      source: projects,
      focus: function (event, ui) {
        $("#project").val(ui.item.label);
        return false;
      },
      select: function (event, ui) {
        $("#project").val(ui.item.label);
        $("#project-id").val(ui.item.value);
        $("#project-description").html(ui.item.desc);
        $("#project-icon").attr("src", "images/" + ui.item.icon);

        return false;
      }
    })
      .autocomplete("instance")._renderItem = function (ul, item) {
        return $("<li>")
          .append("<div>" + item.label + "<br>" + item.desc + "</div>")
          .appendTo(ul);
      };
  });
</script>

<div> Search Doctor by Name </div>
<%= form_tag search_doctors_path, method: :get, remote: true do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Doctors" %>
  <%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0" %>
<% end %>
<div id="project-label">Select a project (type "j" for a start):</div>
<img id="project-icon" src="images/transparent_1x1.png" class="ui-state-default" alt="">
<input id="project">
<input type="hidden" id="project-id">

<h1>Doctor Index Page</h1>

<div>Doctor Panel</div>
<div>
  <%= link_to t("Back to Your DashBoard"),  patient_path(current_user.id) %>
</div>
<div>
  <%= link_to t("Back to Home Page"), root_path %>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-8">
      <%= render  "doctors/search" %>
    </div>
    <div class="col-4">
      <div>Maps</div>
    </div>
  </div>
</div>