<!-- ======================================================================= -->
<!-- Doctor's Index Partial -->
<!-- ======================================================================= -->

<script>
  $(function () {
    var projects = [];

    <% Doctor.all.each do |doctor| %>
      projects.push({
          value: "<%= doctor.first_name %>",
          desc: "<%= doctor.last_name %>"
        });
    <% end %>

    $("#project").autocomplete({
      minLength: 0,
      source: projects,
      focus: function (event, ui) {
        $("#project").val(ui.item.label);
        return false;
      },
      select: function (event, ui) {
        $("#project").val(ui.item.label);
        $("#project-id").val(ui.item.value);
        $("#project-description").html(ui.item.desc);
        $("#project-icon").attr("src", "images/" + ui.item.icon);

        return false;
      }
    })
      .autocomplete("instance")._renderItem = function (ul, item) {
        return $("<li>")
          .append("<div>" + item.label + "<br>" + item.desc + "</div>")
          .appendTo(ul);
      };
  });
</script>
<script>
  $(function () {
    function removeDuplicates(arr) {
      let unique_array = []
      for (let i = 0; i < arr.length; i++) {
        if (unique_array.indexOf(arr[i]) == -1) {
          unique_array.push(arr[i])
        }
      }
      return unique_array
    }
    var projects = [];
    var temp = [];


    <% Doctor.all.each do | doctor | %>
      temp.push("<%= doctor.specialist %>");
    <% end %>

    temp = removeDuplicates(temp);

    for (let i = 0; i < temp.length; i++) {
      projects.push({
        value: temp[i],
        desc: " "
      });
    }

    console.log(projects);

    $("#project2").autocomplete({
      minLength: 0,
      source: projects,
      focus: function (event, ui) {
        $("#project2").val(ui.item.label);
        return false;
      },
      select: function (event, ui) {
        $("#project2").val(ui.item.label);
        $("#project-id").val(ui.item.value);
        $("#project-description").html(ui.item.desc);
        $("#project-icon").attr("src", "images/" + ui.item.icon);

        return false;
      }
    })
      .autocomplete("instance")._renderItem = function (ul, item) {
        return $("<li>")
          .append("<div>" + item.label + "<br>" + item.desc + "</div>")
          .appendTo(ul);
      };
  });
</script>

<section id="doctor-listings" class="div-wrapper">
  <%= form_tag search_doctors_path, method: :get, remote: true do %>
    <%= label_tag :search_name, "Search By Name" %>
    <%= text_field_tag :search_name, nil , placeholder: "Search Doctors", id: 'project' %>
    <%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0" %>
  <% end %>

  <%= form_tag search_specialist_doctors_path, method: :get, remote: true do %>
    <%= label_tag :search_specialist, "Search By Specialist" %>
    <%= text_field_tag :search_specialist, nil, placeholder: "Search Specialist", id: 'project2' %>
    <%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0" %>
  <% end %>

  <div>
    <%#= link_to t("Back to Your DashBoard"),  patient_path(current_user.id) %>
  </div>
  <div>
    <%#= link_to ("View Your Appointment"), booking_path(current_user.id), remote: true %>
  </div>
  <div>
    <%#= link_to t("Back to Home Page"), root_path %>
  </div>

  <p><h1 class="tab-header">Choose Your Doctor</h1></p>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render "doctors/search" %>
      </div>
      <!-- <div class="col-4">
        <div>Maps</div>
      </div> -->
    </div>
  </div>
</section>