<% @doctors.each do |doctor| %>
  <div class="media">
    <img class="align-self-center mr-3" src="http://via.placeholder.com/150x150" alt="Generic placeholder image">
    <div class="media-body">
      <p class=mt-0>
        <%= doctor.first_name %>
        <%= doctor.last_name %>
      </p>
      <p class=mb-0>
        <%= doctor.specialist %>
      </p>
      <!-- <p class=mb-0><%#= doctor.clinic_name %></p> -->
      <p>
        <button>
          <%= link_to card_doctor_path(doctor.id), remote: true, id: 'profile-btn', class: 'nav-link active' do %>
            <span data-feather="users"></span>
            Profile
            <span class="sr-only">(current)</span>
            <% end %>
        </button>
        <button>
          <%= link_to "Book An Appointment", pending_bookings_path+'/new?param1='+doctor.id.to_s, remote: true, id: 'pending-booking-btn' %>
        </button>
      </p>
      </p>

    </div>
  </div>
<% end %>