<<<<<<< HEAD
<!-- ======================================================================= -->
<!-- Doctor's Search Partial -->
<!-- ======================================================================= -->

=======

<p><%= link_to 'View all Doctor', doctors_path, remote: true %></p>
>>>>>>> af315db9b7872ffe465cf21c83d3ff9913f96baf
<% @doctors.each do |doctor| %>
  <div class="media">
    <img class="align-self-center mr-3" src="http://via.placeholder.com/150x150" alt="Generic placeholder image">
    <div class="media-body">
      <p class=mt-0>
        <%= doctor.first_name %>
        <%= doctor.last_name %>
      </p>
      <p class=mb-0>
        <%= doctor.specialist %>
      </p>
      <!-- <p class=mb-0><%#= doctor.clinic_name %></p> -->
      <p>
        <%= link_to card_doctor_path(doctor.id), remote: true, id: 'profile-btn', class: 'btn btn-primary' do %>
          <span data-feather="users"></span>
          Profile
          <span class="sr-only">(current)</span>
        <% end %>
        <%= link_to "Book An Appointment", clinic_selection_pending_bookings_path(doctor.id), remote: true, id: 'doctor-appoinment-btn', class: 'btn btn-primary' %>
      </p>
      </p>

    </div>
  </div>
<% end %>