<div class="card" style="width: 18rem;">
    <div class="card-header">
        <%= @record.title %>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @record.symptoms %></li>
        <li class="list-group-item"><%= @record.diagnosis %></li>
        <li class="list-group-item"><%= @record.note %></li>
        <li class="list-group-item"><%= @record.follow_up %></li>
        <li class="list-group-item"><%= @record.referral %></li>
        <li class="list-group-item"><%= @record.referral_note %></li>
        <li class="list-group-item"><%= @record.encounter %></li>
        <li class="list-group-item"><%= @record.record_date %></li>
    </ul>
</div>