<div> Navbar </div>

<div> Search Bar </div>

<h1>Doctor Index Page</h1>

<div>Doctor Panel</div>
<div><%= link_to t("Back to Your DashBoard"),  patient_path(current_user.id) %></div>
<div><%= link_to t("Back to Home Page"), root_path %></div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-8">
      <% @doctor.each do |doctor| %>
        
        <div> 
          Profile Pic
        </div>

        <div>
          <%= doctor.first_name %> <%= doctor.last_name %>
          <%= doctor.specialist %>
          <%= doctor.clinic_name %>
          <p><button>View</button> 
            <button><%= link_to "Book An Appointment", 'pending_bookings/new?param1='+doctor.id.to_s %></button></p>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div>Maps</div>
    </div>
  </div>
</div>