<!-- ======================================================================= -->
<!-- Doctors's show -->
<!-- ======================================================================= -->

<p><%= link_to t("Back to Home Page"), root_path %></p>

<!-- JS -->
<%= provide :js do %>

    <!-- initial dashboard load -->
    <script>
        $(document).on('turbolinks:load', function () {
            $('#dashboard-content').append('<%= j render "doctors/edit" %>');
        });
    </script>

<% end %>

<% content_for :sidebar do %>
    <li class="nav-item">
        <%= link_to edit_doctor_path(current_user), remote: true, id: 'profile-btn', class: 'nav-link active' do %>
            <span data-feather="user"></span>
            Profile
            <span class="sr-only">(current)</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to doctor_clinics_path(@doctor,@clinic), remote: true, id: 'clinic-btn', class: 'nav-link' do %>
            <span data-feather="home"></span>
            Clinic
            <span class="sr-only">(current)</span>
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to booking_path(@doctor), remote: true, id: 'appointment-btn', class: 'nav-link' do %>
            <span data-feather="calendar"></span>
            Appointments
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to patients_path, remote: true, id: 'record-btn', class: 'nav-link' do %>
            <span data-feather="user"></span>
            Patients
        <% end %>
    </li>
    <li class="nav-item">
        <%= link_to authorization_doctor_path, remote: true, id: 'record-btn', class: 'nav-link' do %>
            <span data-feather="copy"></span>
            View Records
        <% end %>
    </li>
<% end %>

<%= render "layouts/dashboard" %>