<!-- ======================================================================= -->
<!-- Dashboard Layout -->
<!-- ======================================================================= -->

<p><%#= link_to 'View Your Medical Records', records_path %></p>
<p><%#= link_to 'Add Your Past Medical Records', new_record_path %></p>

<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "records/show", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<% end %>

<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "dashboard", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<% end %>

<%= provide :js do %>
<script>
    function w3_open() {
        document.getElementById("main").style.marginLeft = "180px";
        document.getElementById("mySidebar").style.width = "180px";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }
    function myAccFunc() {
        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-green";
        } else {
            x.className = x.className.replace(" w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-green", "");
        }
    }
    $('#mySidebar .nav-link').click((e)=>{
        $(e).addClass('active');
    });
</script>
<% end %>

<%= render  "layouts/navigation" %>

<!-- Side navbar -->
<div class="container-fluid">
    <div class="row">
        <div class="w3-sidebar w3-card-4 w3-animate-left bg-dark sidebar-dark" id="mySidebar">
            <div>
                <button onclick="w3_close()" class="w3-button w3-right w3-padding-16" title="close Sidebar">&times;</button>
            </div>
            <ul class="nav flex-column">
                <%= yield :sidebar %>
            </ul>
        </div>
        
        <div id="main" style="margin-left:200px">
            <div class="w3-container w3-display-container">
                <span title="open Sidebar" style="position: fixed; display:none; margin-top: 3em;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge"
                    onclick="w3_open()">&#9776;</span>
            </div>
            <main role="main" id='dashboard-content'>
                <span title="open Sidebar" style="display:none" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge"
                onclick="w3_open()">&#9776;</span>
                <!-- Dashboard content goes here -->
            </main>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

