<!-- ======================================================================= -->
<!-- Dashboard Layout -->
<!-- ======================================================================= -->

<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "records/show", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<% end %>

<!--stylesheet-->
<%= provide :head do %>
    <%= stylesheet_link_tag "dashboard", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<% end %>

<%= provide :js do %>
<script>
    $('#mySidebar .nav-link').click((e)=>{
        $(e).addClass('active');
    });
</script>
<% end %>

<!-- ======================================================================= -->

<div id="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <%= yield :sidebar %>
            </ul>
        </nav>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Hamburger Menu Toggle -->
                <a href="#menu-toggle" id="menu-toggle" class="hamburger" onclick="toggleHamburger(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>
                <main role="main" id='dashboard-content'>
                    <!-- Dashboard content goes here -->
                </main>
            </div>
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    // Sidebar Navigation Icons(Feather)
    feather.replace();
    $("#wrapper").addClass("toggled");
    // Menu Toggle Script
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    function toggleHamburger(x) {
        x.classList.toggle("change");
    }
</script>

