<!DOCTYPE html>
<html>
<head>
  <!-- Basic Linkage -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Libraries TODO: -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


  <% if content_for?(:head) %>
    <%= stylesheet_link_tag "navigation", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  <% end %>

</head>
<body>
  <!-- Header -->
  <div id="header">
    <% if request.path_info.include?('doctors') || request.path_info.include?('patients') %>
    <!-- do not render navbar in dashboard page -->
    <% else %>
      <%= render "layouts/navigation" %>
    <% end %>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% end %>
  </div>

  <!-- Flashes -->
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>

  <!-- Body Content -->
  <%= yield %>

  <!-- Footer -->
  <p style="position: fixed; right: 1em; bottom: 0; color: grey;"><strong>Development Mode</strong><br><strong>Version : </strong> 1.1<br><strong>Updated at : </strong>14/03/2018 15:46</p>
  <% if content_for?(:footer) %>
    <%= yield(:footer) %>
  <% end %>
  <!-- Bottom JS -->
  <% if content_for?(:js) %>
    <%= yield(:js) %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <% end %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>
