<!DOCTYPE html>
<html>
<head>
  <!-- Basic Linkage -->
  <title>Medex</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  <!-- <meta http-equiv="refresh" content="1"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <style id='page-stylesheet'></style>

  <% if content_for?(:head) %>
    <%= stylesheet_link_tag "navigation", :media => "all", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  <% end %>

</head>
<body>
  <!-- Header -->
  <header id="header">
    <%= render "layouts/navigation" %>
    <%# if request.path_info.include?('doctors') || request.path_info.include?('patients') %>
    <%# else %>
    <%# end %>
    <% if content_for?(:header) %>
      <%= yield :header %>
    <% end %>
  </header>

  <!-- Body Content -->
  <%= yield %>

  <!-- Flashes -->
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= value %>
        </div>
  <% end %>

  <!-- Footer -->
  <% if content_for?(:footer) %>
    <%= yield(:footer) %>
  <% end %>
  <!-- Bottom JS -->
  <% if content_for?(:js) %>
    <%= yield(:js) %>
    <script id="page-script"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <% end %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>
